* {
  font-family: 'Courier New', Courier, monospace;
}

.indicator-separation {
  margin-right: 5px;
}

.left-text {
  text-align: left;
}

.center {
  margin: 0 auto;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}
